* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
}

.box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 101px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  float: left;
  color: #222222;
  font-family: sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.68px;
  text-decoration: none;
}

.logo span {
  color: #f16d7f;
  font-weight: 400;
}

.logo-img {
  margin-right: 10px;
}

.my_acc {
width: 130px;
height: 38px;
background-color: #f16d7f;
color: #ffffff;
font-family: sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.38px;
}